*{
	margin:0px;
	padding: 0px;
}
body{
	color: #4c4c4c;
	font-family: 'Asap', sans-serif;
	font
}
label{
	margin-top: 6px;
}
.ibody{
	background-color: #ecf0f3;
	margin: 30px auto;
	width: 500px;
}
.jumbotrom{
	padding: 
}
.jumbotrom h1{
	font-size: 36px;
	text-align: center;
}
.fcontacto{
	padding: 14px;
}